.board {
    width: 400px;
    margin: auto;
    text-align: center;
}

.board-status {
}

.board-status-content {
  line-height: 50px;
}

.board-row {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
