@import 'colors.scss';

.btn {
  padding: 10px;
  /* height: 40px; */
}

.btn-primary {
  background-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color;
}

.btn-light {
  font-weight: bold;
  background-color: transparent;
  color: $primary-color;
}

.btn-light:hover,
.btn-light:focus {
  background-color: transparent;
  color: $secondary-color;
}
