.game {
  margin: 20px 0;
  border: 2px solid;
  border-color: #e6e6e6;
  border-radius: 10px;
}

.game-header {
    margin: 20px 0;
    text-align: center;
}

.game-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.game-footer-restart {
  height: 20px;
}

.player-scores {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
