@import 'colors.scss';

.game {
  margin: 20px 0;
  border: 2px solid;
  border-color: $light-gray;
  border-radius: 10px;
}

.player-scores {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
