@import 'colors.scss';

.match-over {
    animation: matchOverEaseIn 0.5s;
    display: flex;
    justify-content: center;

    &_winner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_icon {
            font-size: 100px;
            color: $primary-black;
        }

        &_message {    
            font-size: 48px;
            font-weight: 700;
            color: $primary-black;
        }
    }
}

@keyframes matchOverEaseIn {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
    }
}