@import 'colors.scss';

.player-score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 160px;
  margin: 0 5px;
  padding: 0 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  border-radius: 10px;
}

.player-score-card-active {
  animation: popUp 0.25s ease-in-out forwards;
}

.player-score-icon {
  color: $primary-black;
}

.player-score-current-score {
  color: $primary-black;
}

@keyframes popUp {
  0% {
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    border-bottom: 1px solid $primary-color;
  }

  100% {
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.16);
    border-bottom: 3px solid $primary-color;
  }
}