@import 'colors.scss';

.square {
    height: 100%;
    width: 100%;
    position: relative;
}

.square:hover {
    background-color: rgba(0, 0, 0, .1);
}

.square-content {
    position: absolute;
    font-size: 46px;
    height: 30%;
    width: 50%;
    margin: -30% 0 0 -28%;
}

.square-content-O {
    animation: drawSquare 0.10s ease-out forwards;
    color: $accent-color;
    top: 45%;
    left: 50%;
}

.square-content-X {
    animation: drawSquare 0.10s ease-out forwards;
    color: $primary-black;
    top: 45%;
    left: 57%;
}

@keyframes drawSquare {
    0% {
       opacity: 0; 
    }

    100% {
       opacity: 1; 
    }
}