.square {
    height: 100%;
    width: 100%;
    position: relative;
}

.square:hover {
    background-color: rgba(0, 0, 0, .1);
}

.square:active {
}

.square-content {
    position: absolute;
    font-size: 46px;
    color: #846267;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -23% 0 0 -23%;
}
